Repository ioBroker/ioBroker, pull requests merged in 2019-02, with the labels that each got.

#122 Add iobroker user to i2c group
  CHANGELOG_INSTALLER_LINUX.md
  installer.sh
Labels: Installer, Linux

#128 Some fixes for the install fixer
  fix_installation.sh
Labels: Installer, Linux, enhancement

#132 Fixes1
  CHANGELOG_FIXER_LINUX.md
  CHANGELOG_INSTALLER_LINUX.md
  fix_installation.sh
  installer.sh
Labels: Installer, Linux, enhancement

#137 Removed argument limitation to iobroker [installer script]
  installer.sh
Labels: Installer, Linux

#138 Removed limitation of arguments for iobroker [fixer script]
  fix_installation.sh
Labels: Installer, Linux

#139 Remove orphaned executable
  install/iobroker
Labels: Installer, Linux, bug
